/* ********** page structure********** */

body {
	width: 600px;
	margin: auto;
	font-family: Calibri, Arial, "微软雅黑";
}

#adminbar {
	display: block;
	position: fixed;
	top: 0px;
	width: inherit;
	overflow: visible;
	z-index: 999;
}

#content {
	display: block;
	margin: 60px 6px 6px 6px;
}

#footer {
	display: block;
	color: #333333;
	font-size: 90%;
	text-align: center;
	max-height: 24px;
}

a {
	color: #009900;
	text-decoration: none;
}

a:hover {
	color: #FFCC00;
	text-decoration: underline;
}

#wooii img {
	border: none;
	margin: 6px 0px 0px 12px;
}




/* ********** tabs ********** */

/* root element for tabs  */
ul.tabs {
	margin: 0px !important;
	padding: 0px !important;
	float: left;
}

/* single tab */
ul.tabs li {
	clear: both;
	height: 64px;
	width: 99px;
	cursor: pointer;
	list-style-type: none;
}

ul.tabs strong {
	display: block;
	padding: 10px 10px 3px 10px;
}

ul.tabs small {
	padding: 0px 0px 0px 12px;
}

/* link inside the tab */
ul.tabs a {
	float: left;
	display: block;
	text-decoration: none;
	height: inherit;
	background-color: #E6E6E6;
	color: #999999;
	position: relative;
	width: inherit;
	border: 1px solid #E6E6E6;
	border-right: 0px;
	border-radius: 12px 0px 0px 12px;
	padding: 0px;
	z-index: 111;
	width: inherit;
}

ul.tabs a:hover {
	background-color: #FAFAFA;
	color: #333333;
}

/* selected tab */
ul.tabs a.current {
	background-color: #F6F6F6;
	color: #000000;
	cursor: default;
}

/* specificed tab */
ul.tabs li.tabs-1 a {
	margin: 41px 0px 9px 0px;
	background-color: #FFCC00;
}

ul.tabs li.tabs-2 a {
	margin: 0px 0px 9px 0px;
	background-color: #00CCFF;
}

ul.tabs li.tabs-3 a {
	margin: 18px 0px 9px 0px;
}

/* tab pane */
.tabs-wrap div {
	display: none;
	position: relative;
	overflow: auto;
}




/* ********** nestedtabs ********** */

/* root element for tabs  */
ul.nestedtabs {
    margin: 0px !important;
    padding: 0px;
	text-align: center;
	height: 27px;
	display: block;
}

/* single tab */
ul.nestedtabs li {
    float: left;
    list-style-type: none;
	height: inherit;
}

ul.nestedtabs a {
    float: left;
    display: block;
    padding: 6px 18px 0px 18px;
    text-decoration: none;
    border: 1px solid #E6E6E6;
    border-bottom: 0px;
    height: inherit;
    background-color: #E6E6E6;
    color: #999999;
    margin-left: 9px;
    position: relative;
    border-radius: 12px 12px 0px 0px;
	z-index: 99;
}

ul.nestedtabs strong {
	padding: 3px;
}

ul.nestedtabs a:hover {
    background-color: #FAFAFA;
    color: #333333;
}

ul.nestedtabs a.current {
	background-color: #F6F6F6;
	color: #000000;
	cursor: default;
}

/* nestedtab pane */
div.tabs-wrap div.nestedtabs-panes {
    display: none;
	padding: 18px;
	border: 1px solid #E6E6E6;
	background-color: #F6F6F6;
	border-radius: 12px 12px 12px 12px;
	margin-top: 6px;
	min-height: 640px;
}




/* ********** accordion ********** */

/* root element for each accordion */
div.accordion {
	background: #F6F6F6;
	width: 500px;
	border: 1px solid #E6E6E6;
	display: block;
}

/* accordion header */
div.accordion h2 {
	background: #FAFAFA;
	margin: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 100%;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

/* currently active header */
div.accordion h2.current {
	cursor: default;
	background-color: #E6E6E6;
}

/* accordion pane */
div.accordion div.accordion-panes {
	display: none;
	height: 600px;
	padding: 6px;
	color: #333333;
	text-align: center;
}
